@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border;
}

html,
body {
  @apply bg-slate-950 text-slate-50;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  @apply transition-colors duration-200;
}

input,
textarea,
select {
  @apply transition-colors duration-200;
}
